.tile {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: olivedrab;
}

.white-tile {
    background-color: cornsilk;
}

.tile img {
    width: 75px;
    height: 75px;
}